[submodule "themes/navigator-hugo"]
	path = themes/navigator-hugo
	url = https://github.com/themefisher/navigator-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:rubychilds/rubychilds.github.io.git
	branch = master
